environment:
  # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
  # /E:ON and /V:ON options are not enabled in the batch script intepreter
  # See: http://stackoverflow.com/a/13751649/163740
  # CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env.cmd"

  global:
    PYTHON: "C:\\Python38-x64\\python.exe"
  matrix:
  - TOXENV: py36
  - TOXENV: py37
  - TOXENV: py38
  # not yet available on appveyor
  # - TOXENV: py39

install:
  # Download setup scripts and unzip
  # - ps: "wget https://github.com/cloudify-cosmo/appveyor-utils/archive/master.zip -OutFile ./master.zip"
  # - "7z e master.zip */appveyor/* -oappveyor"

  # Install Python (from the official .msi of http://python.org) and pip when
  # not already installed.
  # - "powershell ./appveyor/install.ps1"

  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  # - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "%PYTHON% --version"
  - "%PYTHON% -c \"import struct; print(struct.calcsize('P') * 8)\""

build: false  # Not a C# project, build stuff at the test step instead.

before_test:
  - "%PYTHON% -m pip install tox numpy cython wheel"

test_script:
  - "%PYTHON% -m tox -e %TOXENV%"

after_test:
  - "%PYTHON% setup.py sdist bdist_wheel"
  - ps: "ls dist"

artifacts:
  - path: dist\*
