# Include all documentation files
include-recursive *.rst
include stl/*.pyx
include stl/*.c
include LICENSE

# Include docs and tests
graft tests
graft docs

# Skip compiled python files
global-exclude *.py[co]

# Remove all build directories
prune docs/_build

