argparse==1.2.1
cov-core==1.14.0
coverage==3.7.1
docutils==0.12
execnet==1.2.0
numpy==1.9.0
pep8==1.5.7
py==1.4.25
pyflakes==0.8.1
pytest==2.6.3
pytest-cache==1.0
pytest-cov==1.8.0
pytest-flakes==0.2
pytest-pep8==1.0.6
python-utils==1.6.2
Sphinx==1.2.3
